body{
  padding-left:51.4px;
}
.grid{
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  width:1047px;
  border:black 3px solid;
}
.tile{
  height:50px;
  width:50px;
  text-align: center;
  /* border:black 1px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
}
.left{
  border-left:black 1px solid;
}
.right{
  border-right:black 1px solid;
}
.bottom{
  border-bottom:black 1px solid;
}
.top{
  border-top:black 1px solid;
}
.center{
  background-color: rgb(248, 247, 162);
}
.header{
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  width:250px;
}
.header *{
  height:51.4px;
  width:52.5px;
  text-align: center;
  /* border:black 1px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
}
.headerv{
  position: absolute;
  left:6px;
  display:grid;
  grid-template-rows: repeat(20, 1fr);
  width:250px;
}
.headerv *{
  height:52.5px;
  width:51.4px;
  text-align: center;
  /* border:black 1px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
}
.button{
  border:none;
  width:100px;
  height:50px;
  border-radius: 5px;
  background-color: red;
  color: white;
  position: absolute;
  left:1120px;
  top:10px;
}
.button2{
  left:1230px;
}
.button3{
  left:1340px;
}
.pointer{
  position: absolute;
  height:50px;
  width:50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  /* border:black 1px solid; */
  display:flex;
  justify-content: center;
  align-items: center;
  color:red;
}